{% import "mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("neopraxis") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{# Customise the stylesheet for your site by editing /public/styles/site.sass #}
		<link href="/styles/site.css" rel="stylesheet">

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}

		{# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		   Safely remove this block if you are not targeting IE8 #}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>
	<body>

		{# HEADER #}
		<nav class="neopraxis-navbar" id="neopraxisNavbarSite">
			<button class="hamburger hamburger--collapse" type="button" id="neopraxis-hamburger-menu">
				<span class="hamburger-box">
				<span class="hamburger-inner"></span>
				</span>
			</button>
			<a class="navbar-brand" href="./">
				<img src="/images/neopraxis-logo-png@3x.png" class="fitLogo" id="fit-logo">
			</a>
			<ul class="nav navbar-nav navbar-right" id="neopraxis-main-navbar">
				{% for link in navLinks %}
					<li class="{{ 'active' if link.key == section else '' }} neopraxis-font-montserrat-regular">
						<a href="{{ link.href }}">{{ link.label }}</a>
					</li>
				{% endfor %}
			</ul>
			<ul class="nav navbar-nav navbar-right" id="neopraxis-main-navbar-right">
				<li class="neopraxis-font-montserrat-regular navbar-register-button right-item-nav">
					<a href="./register.html">
						<div class="inline-block navbar-register-button-box">
							<p class="no-margin-text register-button-text white-text neopraxis-font-montserrat-regular">Registro</p>
						</div>
					</a>
				</li>
				<li class="navbar-padding neopraxis-font-montserrat-regular right-item-nav">
					<a href="./login.html">Iniciar sesión</a>
				</li>
			</ul>
			<div hidden="" class="neopraxis-show-in-movil">
				<a class="neopraxis-center-flex" href="./">
					<img src="./img/icons/neopraxis-logo-png@3x.png" class="neopraxis-logo-comparative">
				</a>
			</div>
		</nav>
		{# BODY #}
		<div id="body">
			{# NOTE:
			   There is no .container wrapping class around body blocks to allow more flexibility in design.
			   Remember to include it in your templates when you override the intro and content blocks! #}

			{# The Intro block appears above flash messages (used for temporary information display) #}
			{% block intro %}{% endblock %}

			{# Flash messages allow you to display once-off status messages to users, e.g. form
			   validation errors, success messages, etc. #}
			{{ FM.flashMessages(messages) }}

			{# The content block should contain the body of your template"s content #}
			{% block content %}{% endblock %}
		</div>


		{# FOOTER #}
		<div id="footer" class="container">
			<div id="freeTrialModal" class="modal">
			  <!-- Modal content -->
			  <div class="modal-content cierralo-flex-colum">
			    <div class="modal-close-btn-container cursos-pointer">
			      <span class="close"><img src="./img/icons/close-modal.png" class="close-modal-img"></span>
			    </div>
			    <div class="modal-header neopraxis-flex-column">
			      <div class="modal-title-box">
			        <p class="modal-title no-margin-text slate-green-text letter-spacing-dot-two inline-block neopraxis-font-myriadpro-regular">Prueba un consultorio de </p>
			        <img src="./img/icons/neopraxis-logo-png@3x.png" class="modal-title-logo inline-block">
			        <p class="modal-title no-margin-text slate-green-text letter-spacing-dot-two inline-block neopraxis-font-myriadpro-regular">gratis</p>
			      </div>
			      <div class="modal-gold-divider"></div>
			    </div>
			    <div class="modal-body neopraxis-flex-column">
			      <p class="modal-subtitle no-margin-text warm-grey-text letter-spacing-dot-one neopraxis-font-myriadpro-regular">Llena tus datos y te contactaremos lo antes posible para tu prueba gratuita</p>
			      <form action="" method="get" accept-charset="utf-8">
			        <div class="contact-body-modal-container neopraxis-flex-column">
			          <div class="contact-input-box landing">
			            <input type="text" name="" value="" placeholder="Nombre" class="contact-input landing neopraxis-font-myriadpro-light warm-grey" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre'">
			          </div>
			          <div class="contact-input-box landing">
			            <input type="text" name="" value="" placeholder="Correo electrónico" class="contact-input landing neopraxis-font-myriadpro-light warm-grey" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Correo electrónico'">
			          </div>
			          <div class="contact-input-box landing">
			            <input type="text" name="" value="" placeholder="Teléfono/Celular" class="contact-input landing neopraxis-font-myriadpro-light warm-grey" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Teléfono/Celular'">
			          </div>
			          <div class="contact-input-box-textarea">
			            <textarea name="" class="contact-input landing neopraxis-font-myriadpro-light warm-grey" placeholder="Mensaje (Opcional)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mensaje (Opcional)'"></textarea>
			          </div>
			          <div class="contact-checkbox-box neopraxis-flex-row">
			            <input type="checkbox" name="email" value="" class="contact-checkbox inline-block cursor-pointer">
			            <p class="neopraxis-font-myriadpro-light warm-grey contact-way-text no-margin-text">Quiero que me contacten por correo</p>
			          </div>
			          <div class="contact-checkbox-box neopraxis-flex-row">
			            <input type="checkbox" name="phone" value="" class="contact-checkbox inline-block cursor-pointer">
			            <p class="neopraxis-font-myriadpro-light warm-grey contact-way-text no-margin-text">Quiero que me contacten por teléfono</p>
			          </div>
			          <div class="contact-last-button-container neopraxis-flex-column">
			            <button type="" class="white-text neopraxis-font-montserrat-regular contact-btn cursor-pointer hover-green letter-spacing-dot-six">ENVIAR</button>
			          </div>
			        </div>
			      </form>
			    </div>
			  </div>
			</div>
			<footer class="site-footer neopraxis-flex-column">
			  <img src="/images/neopraxis-logo-png-blanco@3x.png" alt="" class="footer-logo">
			  <div class="neopraxis-flex-row footer-links-container">
			    <div class="links-first-section">
			      <a href="./aboutUs.html" class="footer-link click-scrolling">
			        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Nosotros</p>
			      </a>
			      <a href="./contact.html" class="footer-link click-scrolling">
			        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Contacto</p>
			      </a>
			      <a href="./faq.html" class="footer-link click-scrolling">
			        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Faq's</p>
			      </a>
			      <a href="./community.html" class="footer-link click-scrolling">
			        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Comunidad</p>
			      </a>
			    </div>
			    <div class="links-second-section">
			      <a href="./workPlaces.html" class="footer-link click-scrolling">
			        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Espacios de trabajo</p>
			      </a>
			      <a href="./offices.html" class="footer-link click-scrolling">
			        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">consultorios</p>
			      </a>
			      <a href="./memberships.html" class="footer-link click-scrolling">
			        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Membresías</p>
			      </a>
			      <a href="./tools.html" class="footer-link click-scrolling">
			        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Herramientas</p>
			      </a>
			    </div>
			    <div class="newsletter-box">
			      <input type="text" name="" value="" placeholder="newsletter" class="newsletter-input neopraxis-font-myriadpro-light uppercase letter-spacing-dot-six"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'newsletter'">
			      <div class="footer-share-box inline-block">
			        <img src="/images/icons/facebook-white.png" alt="" class="footer-share-icon">
			        <img src="/images/icons/twitter-white.png" alt="" class="footer-share-icon">
			        <img src="/images/icons/instagram.png" alt="" class="footer-share-icon last">
			      </div>
			      <button type="" id="footerBtn" class="float-left white-text neopraxis-font-montserrat-regular newsletter-btn inline-block cursor-pointer letter-spacing-dot-six hover-green">PRUÉBALO GRATIS</button>
			    </div>
			  </div>
			  <p class="white-text copyright-text neopraxis-font-myriadpro-light letter-spacing-dot-six no-margin-text">Copyright Neopraxis 2017 All rights reserved</p>
			</footer>

		</div>


		{# JAVASCRIPT #}

		{# jQuery 1.11.3 is included by default, and required by both Bootstrap
			and the KeystoneJS Content Editor. If you are not targeting IE8,
			you can upgrade to 2.1.4 (also bundled) for better performance. #}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>

		{# Customise which Bootstrap javascript files are served by including
			them specifically here, instead of bootstrap-3.3.5.min.js #}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/moment.js"></script>
		<script src="/js/blog.js"></script>
		{# The KeystoneJS Content Editor provides support for ks-editable data attributes,
			which generate links to edit content for users who can access Keystone #}
		{% if user and user.canAccessKeystone %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}

		{# Add scripts that are globally required by your site here. #}

		{# Include template-specific javascript files by extending the js block #}
		{% block js %}{% endblock %}
	</body>
</html>
