{% extends "layouts/default.html" %}

{% macro blogPost(post) %}
<div class="post-list-box post" data-ks-editable="editable(user, { list: " Post ", id: post.id })>
	{% if post.image.exists %}
	<a href="/blog/post/{{ post.slug }}" class="post-link">
		<div class="post-list-image" style="background-image:url({{ post.image.url}});"></div>
	</a>
	{% endif %}
	<div class="post-list-title-box">
		<a href="/blog/post/{{ post.slug }}" class="post-link">
			<p class="post-list-title no-margin-text slate-green-text neopraxis-font-montserrat-bold">{{ post.title }}</p>
		</a>
	</div>
	{% if post.publishedDate %}
	<div class="post-list-date-box">
		<p class="post-list-date no-margin-text greyish-brown-three-text neopraxis-font-myriadpro-regular">{{ post.publishedDate.format('Do MMMM YYYY')}}</p>
	</div>
	{% endif %}
	<div class="post-list-text-box warm-grey-text no-margin-text neopraxis-font-myriadpro-regular letter-spacing-dot-one">
		{{ post.content.brief|safe }}
	</div>
	{% if post.content.extended %}
	<div class="post-list-link-box">
		<a href="/blog/post/{{ post.slug }}" class="post-list-link">
			<p class="post-list-link-text no-margin-text neopraxis-font-myriadpro-regular sandy-brown-text inline-block"><b>Seguir leyendo</b></p>
		</a>
	</div>
	{% endif %}
</div>
{% endmacro %}
{% block content %}
<div class="container neopraxis-flex-column">
	<div class="blog-title-box">
		<h1 class="no-margin-text neopraxis-font-montserrat-bold letter-spacing-dot-two charcoal-text">Blog</h1>
	</div>
	<div class="neopraxis-flex-row blog-list-container">
		<div class="posts-list-container">
			{% if data.posts.results.length %}
				{% for post in data.posts.results %} {{ blogPost(post) }} {% endfor %}
			{% else %}
			<div class="no-posts-box neopraxis-flex-column">
				<h3 class="no-posts-text no-margin-text neopraxis-font-montserrat-bold letter-spacing-dot-two slate-green-text">¡Aún no hay publicaciones!</h3>
			</div>
			{% endif %}
		</div>
		<div class="newsletter-container">
			<form>
				<div class="newsletter-form-box">
					<p class="newsletter-text no-margin-text neopraxis-font-montserrat-regular greyish-brown-text">Suscríbete a nuestro Newsletter</p>
					<div class="newsletter-input-box">
						<input type="text" name="" value="" placeholder="" class="newsletter-input neopraxis-font-montserrat-regular greyish-brown-text">
					</div>
					<div class="send-newsletter-btn-box">
						<button type="submit" class="send-newsletter-btn neopraxis-font-montserrat-regular white-text hover-green">ENVIAR</button>
					</div>
				</div>
			</form>
			<div class="recent-posts-box">
				<div class="recent-posts-title-box">
					<p class="recent-posts-title no-margin-text neopraxis-font-montserrat-regular slate-green-text">Lo más reciente</p>
				</div>
				<div class="recent-posts-list">
					{% for post in data.posts.results %}
						<div class="recent-posts-link-box">
							<a href="/blog/post/{{ post.slug }}" class="recent-posts-link">
								<p class="recent-posts-link-text no-margin-text neopraxis-font-myriadpro-regular warm-grey-text inline-block">{{ post.title }}</p>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
