@font-face {
  font-family: 'SFNS-Text';
  src: url('../fonts/(.SFNSText)SFNSTextItalic.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFNS-TextCondensed-Bold';
  src: url('../fonts/(.SFNSText-Bold)SFNSTextCondensed-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFNS-TextCondensed-Heavy';
  src: url('../fonts/(.SFNSText-Heavy)SFNSTextCondensed-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFNS-TextItalic';
  src: url('../fonts/(.SFNSText-Italic)SFNSTextItalic.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFNS-TextMedium';
  src: url('../fonts/(.SFNSText-Medium)SFNSTextCondensed-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GandhiSans-Bold';
  src: url('../fonts/(GandhiSans-Bold)GandhiSans-BoldItalic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GandhiSans-BoldItalic';
  src: url('../fonts/(GandhiSans-BoldItalic)GandhiSans-BoldItalic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GandhiSans-Italic';
  src: url('../fonts/(GandhiSans-Italic)GandhiSans-Italic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GandhiSans-Regular';
  src: url('../fonts/(GandhiSans-Regular)GandhiSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LucidaGrande-Regular';
  src: url('../fonts/(LucidaGrande)LucidaGrande.ttc');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LucidaGrande-Bold';
  src: url('../fonts/(LucidaGrande-Bold)LucidaGrande.ttc');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/(Montserrat-Regular)Montserrat-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/(Montserrat-Bold)Montserrat-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/(MyriadPro-Regular)MyriadPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Light';
  src: url('../fonts/MyriadPro-Light.otf');
  font-weight: normal;
  font-style: normal;
}
.neopraxis-font-snfs-text {
  font-family: 'SFNS-Text';
}
.neopraxis-font-snfs-condensed-bold {
  font-family: 'SFNS-TextCondensed-Bold';
}
.neopraxis-font-snfs-condensed-heavy {
  font-family: 'SFNS-TextCondensed-Heavy';
}
.neopraxis-font-snfs-italic {
  font-family: 'SFNS-TextItalic';
}
.neopraxis-font-snfs-medium {
  font-family: 'SFNS-TextMedium';
}

.neopraxis-font-gandhisans-bold {
  font-family: 'GandhiSans-Bold';
}
.neopraxis-font-gandhisans-bold-italic {
  font-family: 'GandhiSans-BoldItalic';
}
.neopraxis-font-gandhisans-italic {
  font-family: 'GandhiSans-Italic';
}
.neopraxis-font-gandhisans-regular {
  font-family: 'GandhiSans-Regular';
}

.neopraxis-font-lucidagrande-regular {
  font-family: 'LucidaGrande-Regular';
}
.neopraxis-font-lucidagrande-bold {
  font-family: 'LucidaGrande-Bold';
}

.neopraxis-font-montserrat-regular {
  font-family: 'Montserrat-Regular';
}
.neopraxis-font-montserrat-bold {
  font-family: 'Montserrat-Bold';
}

.neopraxis-font-myriadpro-regular {
  font-family: 'MyriadPro-Regular';
}
.neopraxis-font-myriadpro-light {
  font-family: 'MyriadPro-Light';
}

