.site-footer
  background-image linear-gradient(215deg, rgba(21, 44, 28, 0.76), rgba(46, 163, 111, 0.76))
  width 100%
  padding-top 34px
  padding-bottom 34px
.footer-logo
  width 144px
  height auto
.copyright-text
  font-size 10px
  padding-top 26px
.footer-links-container
  padding-top 44px
  align-items flex-end !important
.footer-link-text
  font-size 10px
  line-height 25px
.links-first-section
  padding-right 40px
.links-second-section
  padding-right 60px
.newsletter-box
  width 265px
.newsletter-input
  width 265px
  height 36px
  color #ffffff
  background-color transparent
  border solid 1px #ffffff
  padding-left 12px
  font-size 9px
  margin-bottom 17px
.newsletter-input::placeholder
  color #ffffff
.newsletter-btn
  background-color #658c78
  color #ffffff
  font-size 11px
  border none
  border-radius 20px
  width 165px
  height 38px
  float right
.footer-share-box
  margin-top 10px
.footer-share-icon
  width 19px
  height 19px
  margin-right 5px
.footer-share-icon.last
  margin-right 0px
.footer-link
  text-decoration none