#header
    margin-top 30px


#footer
    margin-top 30px
    border-top 1px solid gray-lighter
    padding-top 30px
    color gray-light


.gallery-image img
    display block
    max-width 100%
    height auto
body
  margin 0 !important
.neopraxis-flex-column
  display flex
  flex-direction column
  justify-content center
  align-items center
.neopraxis-flex-column-end
  display flex
  flex-direction column
  justify-content flex-end
  align-items center
.neopraxis-flex-column-start
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
.neopraxis-flex-row
  display flex
  flex-direction row
  justify-content center
  align-items center
.neopraxis-flex-row-end
  display flex
  flex-direction row
  justify-content flex-end
  align-items flex-start
.question-logo
  width 251px
  height auto
  margin-bottom -5px
  margin-left 10px
  margin-right 10px
.cursor-pointer
  cursor pointer
.uppercase
  text-transform uppercase
.inline-block
  display inline-block
.greyish-brown-text
  color #444341
.charcoal-text
  color #343432
.white-text
  color #FFFFFF
.dark-sage-text
  color #596e59
.white-section
  padding-bottom 100px
.title-text
  font-size 56px
.letter-spacing-dot-three
  letter-spacing 0.3px
.letter-spacing-dot-two
  letter-spacing 0.2px
.letter-spacing-dot-eight
  letter-spacing 0.8px
.letter-spacing-dot-seven
  letter-spacing 0.7px
.letter-spacing-dot-six
  letter-spacing 0.6px
.no-margin-text
  margin 0
.landing-body
  padding-top 95px
.title-divider
  width 40px
  height 5px
  background-color #c2a463
  margin-top 20px
.line-height-twenty-two
  line-height 22px
.about-container
  margin-top 50px
  width 765px
  text-align center
.services-container
  margin-top 77px
.service-box
  width 257px
  height 136px
  background-color #FFFFFF
  color #444341
  box-shadow 1px 3px 7px rgba(0, 0, 0, 0.05)
  margin-right 17px
  transition all 0.1s linear
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
.service-box:hover
  background-color #c2a463
  color #FFFFFF !important
.service-icon
  width 81px
  height auto
.service-icon-one
  width 92px
  height 60px
  background url('../img/icons/group-5-copy-2@3x.png')
  background-size 100%
  margin-bottom 12px
.service-box:hover > .service-icon-one
  background url('../img/icons/group-5@3x.png')
  background-size 100%
.service-icon-two
  width 46px
  height 40px
  background url('../img/icons/group-6@3x.png')
  background-size 100%
  margin-bottom 12px
.service-box:hover > .service-icon-two
  background url('../img/icons/group-3-copy@3x.png')
  background-size 100%
.service-icon-three
  width 81px
  height 45px
  background url('../img/icons/group-9@3x.png')
  background-size 100%
  margin-bottom 18px
.service-box:hover > .service-icon-three
  background url('../img/icons/group-4@3x.png')
  background-size 100%
.service-name
  margin-bottom 26px
  font-size 14px
.see-more-btn-text
  font-size 11px
.see-more-button-box
  background-color #658c78
  border-radius 100px
  padding 11px 16px
  width 127px
  text-align center
.see-more-button-container
  margin-top 64px
.white-section-bg
  width 100%
  padding-left 0px
  padding-top 57px
  background-color #FFFFFF
  position: relative
  height 500px
.green-section
  background-image linear-gradient(246deg, #152c1c, #2ea36f)
  opacity 0.69
  width 100%
  position relative
  height 400px
.girl-parallax-green-section
  width 419px
  height 506px
  background url('../img/rsz_group-293x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-size contain
  position absolute
  left 0px
  top 0
  margin-bottom -50px
  z-index 999
.green-section-text
  font-size 34px
  padding-top 74px
.right-side
  vertical-align top
  width 100%
.green-text-container
  width 450px
  text-align center
  margin auto
  margin-left 45%
  padding-left 0
.green-text-white-box
  font-size 33px
  line-height 33px
  text-align center
  width 310px
  margin auto
  padding-top 28px
  margin-right 75px
  padding-bottom 24px
.bottom-text-container
  width 100%
  background-color rgba(255, 255, 255, .52)
  text-align center
  position absolute
  bottom 0
.white-rectangle
  background-color #FFFFFF
  width 139px
  height 139px
  position absolute
  bottom -21px
  right -100px
  box-shadow 1px 3px 7px rgba(0, 0, 0, 0.05)
.grey-section
  background-color #f5f5f5
  margin-top 0px
  position relative
  padding-top 180px
  padding-bottom 67px
.green-image-absolute
  background url('../img/group-8@3x.png')
  background-attachment fixed
  background-repeat no-repeat
  background-size contain
  background-position right top
  width 53%
  height 285px
  position absolute
  right 0
  bottom -125px
  z-index 1
.dots-image-green-section
  width 95px
  height auto
  position absolute
  right 0
  bottom -160px
  z-index 1
.column-green-section
  flex-direction row
  width 1024px
  position relative
  padding-top 57px
.grey-section-title
  font-size 25px
.slides-container
  margin-top 40px
  height 340px
.open-slide
  width 277px
  height 340px
  background #2ea36f
  background -moz-linear-gradient(45deg, #2ea36f 0%, #155628 100%)
  background -webkit-linear-gradient(45deg, #2ea36f 0%,#155628 100%)
  background linear-gradient(45deg, #2ea36f 0%,#155628 100%)
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.5)
  opacity 1
  transform-style preserve-3d
  transition transform 2s
  transform rotateY( 40deg )
.open-slide:hover + .rotate
  transition transform 2s
  transform-origin right center
  -webkit-transition -webkit-transform .8s ease-in-out
  transition transform .8s ease-in-out
  transform rotateY( 80deg )
  
.slide-title
  font-size 14px
  line-height 19px
#one
  display none
#two
  display none
#three
  display none
.slide-header
  padding-top 27px
  text-align center
.slide-monthly
  font-weight lighter
  padding-top 16px
  font-size 12px
.slide-list
  width 100%
  padding-top 19px
.slide-divider
  height 1px
  width 90%
  background-color #e5e5e5
  margin auto
  margin-top 27px
.olive-dot
  width 4.1px
  height 4.1px
  background-color #c2c275
  border-radius 10px
  margin-left 42px
  margin-right 10px
  vertical-align middle
.olive-dot.double
  width 4.1px
  height 4.1px
  background-color #c2c275
  border-radius 10px
  margin-left 42px
  margin-right 10px
  vertical-align text-top
.slide-item-list
  padding-bottom 15px
.slide-item-text
  font-size 12px
  width 200px
.closed-slide
  width 206px
  height 252px
.closed-slide.one
  background url('../img/intro.png')
  background-size 100%
.closed-slide.two
  background url('../img/Group31.png')
  background-size 100%
.closed-slide.three
  background url('../img/Group34.png')
  background-size 100%
.closed-slide.one:hover ~ #one:hover
  opacity 1
.blog-parallax-section
  width 100%
  height 393px
  background url('../img/shutterstock-346224740@3x.png')
  background-attachment fixed
  background-repeat no-repeat
  background-size cover
  background-position center bottom
.white-section-blog
  background-color #FFFFFF
  position relative
  width 100%
.blog-container
  background-color #FFFFFF
  width 638px
.blog-title
  font-size 28px
  padding-top 69px
.blog-subtitle
  font-size 17px
  padding-top 44px
  line-height 17px
  text-align left
.blog-body
  width 416px
.blog-text
  padding-top 16px
  font-size 11px
  line-height 13px
.keep-reading-link
  text-decoration none
  border-bottom solid 1px #343432
.blog-container
  margin-top -150px
.blog-image
  width 100%
  height auto
  margin-top 18px
  margin-bottom 14px
.share-blog-icon
  width 14px
  height 14px
  margin-right 2px
.more-blog-button-container
  margin-top 38px
.blog-divider
  width 60%
  height 1px
  background-color #e5e5e5
  margin-top 30px
.dots-box-blog
  position absolute
  left 49px
  top 42px
.dots-image-blog-section
  width 95px
  height auto
.locate-section
  width 100%
  padding-top 52px
.locate-title
  font-size 28px
  padding-top 10px
.map-container
  width 100%
  height 430px
  margin-top 56px
.locate-section
  position relative
.contact-box
  position absolute
  width 311px
  height 415px
  background-color #91B1B3
  top 52px
  left 100px
  z-index 999
.contact-address
  font-size 13px
  letter-spacing 0.1px
  width 236px
  text-align center
  font-weight 500
  margin-top 33px
.phone-text
  font-size 13px
  letter-spacing 0.1px
  padding-bottom 10px
.contact-phone-icon
  font-size 13px
.contact-phone-container
  padding-top 20px
.contact-divider
  height 1px
  width 80%
  background-color #e5e5e5
  margin-top 10px
.contact-body
  width 100%
  position relative
  padding-left 44px
  padding-top 16px
.input-contact
  width 182px
  height 35px
  margin-bottom 11px
  background-color transparent
  border solid 1px #ffffff
  border-radius 3px
  font-size 11.5px
  padding-left 16px
  color #FFFFFF
.input-contact::placeholder
  color #FFFFFF
.contact-form
  padding-top 20px
  width 185px
  padding-right 20px;
.send-contact-btn
  background-color #6b806c
  border none
  font-size 11px
  width 94px
  height 29px
  margin-top 6px
  border-radius 20px
  text-align center
  float right
  transition all 0.1s linear
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
.send-contact-btn:hover
  background-color #798c7a
.transport-container
.transport-tooltip-box
  margin-bottom 10px
  padding-right 15px
  position relative
.tooltip-text
  width 120px
  background-color black
  visibility hidden
  color #ffffff
  text-align center
  border-radius 6px
  padding 6px 0px
  position absolute
  z-index 1
  right -130px
  top 0px
  font-size 12px
.transport-tooltip-box:hover .tooltip-text
  visibility visible
.transport-icon
  width 16px
  height auto
.header-parallax
  width 75%
  height 604px
  background url('../img/group-3@3x.png')
  background-attachment fixed
  background-repeat no-repeat
  background-size 76%
  background-position left top
  position relative
  z-index 10
.header-right-section
  width 25%
  background-color #FFFFFF
  height 604px
  position absolute
  right 0
  top 0
.header-green-block
  width 200px
  height 430px
  margin-top 68px
  background-image linear-gradient(215deg, rgba(21, 44, 28, 0.76), rgba(46, 163, 111, 0.76))
.header-logo
  width 177px
  height auto
  margin-top 27px
  margin-left 18px
.login-button-text
  font-size 11px
.register-button-box
  width 94px
  height 32px
  text-align center
  background-color #c2a463
  margin-left 10px
  margin-right 60px
.register-button-text
  font-size 11px
  padding-top 9px
.login-container
  float left
  padding-left 20px
  padding-top 20px
.header-dots
  width 95px
  height auto
  position absolute
  left 130px
  bottom 50px
  z-index 1
.header-link
  text-decoration none
.header-navbar
  padding-top 29px
  padding-right 20px
.header-link-text
  font-size 14px
.header-link-line
  width 100%
  height 3px
  background-color #6b806b
  margin-top 5px
  display none
  border-radius 5px
.header-link-box.active > .header-link-line
  display block
.header-link-box
  margin-left 12px
  margin-right 12px
.header-title
  font-size 41px
  width 750px
  margin-top 164px
  float right
  margin-right -150px
  z-index 999
.header-subtitle
  font-size 35px
  float right
  width 600px
  margin-top 12px
.header-try-button
  width 187px
  height 43px
  border-radius 20px
  background-color #658c78
  text-align center
  padding-top 15px
  float right
  margin-top 73px
  margin-right -187px
.header-try-button-text
  font-size 11px
.title-border-gold
  width 40px
  height 5px
  background-color #c2a463
  position absolute
  right -110px
  top 323px
.about-text
  font-size 17px
.space-between
  width 100%
  justify-content space-around !important
#neopraxis-hamburger-menu
  display none !important
.hover-green
  transition all 0.1s linear
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
.hover-green:hover
  background-color #749785 !important
.newsletter-btn
  transition all 0.1s linear
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
.newsletter-btn:hover
  background-color #749785 !important
.modal-open
  display block !important

#body.modal-open 
  overflow hidden

.modal
  display none
  position fixed
  z-index 9999
  left 0
  top 0
  width 100%
  height 100%
  overflow scroll
  background-color rgb(0,0,0)
  background-color rgba(0,0,0,0.7)
.close-modal-img
  width 23px
  height 20px
.modal-content 
  background-color #f5f5f5
  margin 10% auto
  padding 0px
  padding-top 20px
  width 570px
  position relative

.modal-close-btn-container
  position absolute
  right -30px
  top -40px

.close 
  color #f5f5f5
  float right
  font-size: 20px
  font-weight lighter

.close:hover,
.close:focus 
  color #f5f5f5
  text-decoration none
  cursor pointer

.modal-header
  padding-bottom 20px

.modal-title
  font-size 25px
  letter-spacing 0.3px
  margin 0
  line-height 26px
.modal-title-logo
  width 139px
  margin-bottom -5px
.modal-body
  padding-top 37px
  background-color #ffffff
.modal-header
  background-color #f3f3f4
  padding-top 33px
  padding-bottom 30px
.modal-title-box
  width 337px
  text-align center
.modal-title
  font-size 23px
.modal-gold-divider
  width 40px
  height 5px
  background-color #c2a463
  margin-top 20px
.modal-subtitle
  width 358px
  text-align center
.contact-body-modal-container
  padding-top 22px
.contact-checkbox
  border-radius 0px
  background-color white
  border 0
  -webkit-appearance none
  padding 0
  width 18px
  height 18px
  border solid 1px #e6e6e6 !important
  transition: all 0.1s linear
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
  
.contact-checkbox:checked
  border-radius 0px;
  background-color #658c78
  border 0
  -webkit-appearance: none
  padding 0
  width 18px
  height 18px
  border solid 1px #658c78 !important
  
@media (max-width: 1100px)
  .green-image-absolute
    background url('../img/group-8@3x.png')
    background-attachment fixed
    background-repeat no-repeat
    background-size contain
    background-position right top
    width 51%
    height 285px
    position absolute
    right 0
    bottom -125px
    z-index 1
  .white-section-bg
    width 100%
    padding-left 43px
    padding-top 57px
    background-color #FFFFFF
    position: relative
    height 500px
  .girl-parallax-green-section
    width 419px
    height 506px
    background url('../img/rsz_group-293x.png')
    background-attachment inherit
    background-repeat no-repeat
    background-size contain
    position absolute
    left 0px
    top 0
    margin-bottom -50px
    z-index 999
  .column-green-section
    -ms-flex-direction row
    flex-direction row
    width 976px
    position relative
    padding-top 57px
@media (min-width: 1024px)
  .header-try-button
    width 187px
    height 43px
    border-radius 20px
    background-color #658c78
    text-align center
    padding-top 15px
    float: right
    margin-top 73px
    margin-right -250px
    margin-left 61px
  .header-subtitle
    font-size: 35px
    float right
    width 661px
    margin-top 12px
    padding-left 60px